extends layout

block content
  .main.container.text-xs-center
    br
    br
    br
    br
    h1.display-3 Create &amp; Share Your Website
    p.lead right now!
    a.btn.btn-info-outline.btn-lg(href='/register') Try it out!


