doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title On Your Site
    link(rel='shortcut icon', href='#')
  body
    #formDiv
      form(action='/generate', method='GET')
        | path
        input(name='_id', type='text')
        br
        |             name
        input(name='name', type='text')
        br
        |             surname
        input(name='surname', type='text')
        br
        |             image url
        input(name='imageUrl', type='text')
        br
        |             style
        select(name='styles')
          option(value='red.css') red
          option(value='blue.css') blue
          option(value='black.css') black
        br
        input#submit(type='submit')
    #output
