<div class="main container text-xs-center"><br/><br/><br/><br/>
    <h1 class="display-3">Create &amp; Share Your Website</h1>
    <p class="lead">right now!</p><a class="btn btn-info-outline btn-lg" href="/register">Try it out!</a></div>

