doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title On Your Site
    link(rel='shortcut icon', href='#')
    link(rel='stylesheet', href=’${styles}’)
  body
    h1=name
    h2=surname
    img(src=#{imageUrl}, alt='Your image')
    #output
