extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        span #{username} 
        ul
          each webpage in webpages
            li 
              a(href='/profiles/' + webpage) #{webpage}
          else
            li You haven't created any webpages yet

          

       
