<div class="main container row">
  <h1 class="display-4 m-b-2">Sign Up</h1>
  <form method="POST" action="/register">
    <div class="form-group">
      <label for="username">Username:</label>
      <input class="form-control" id="name" type="text" placeholder="username" name="username"/>
    </div>
    <div class="form-group">
      <label for="pw">Password:</label>
      <input class="form-control" id="pw" type="password" name="password"/>
    </div>
    <div class="form-group">
      <label for="pw2">Confirm Password:</label>
      <input class="form-control" id="pw2" type="password" name="confirmPassword"/>
    </div>
    <button class="btn btn-primary" type="submit">Sign up</button>
  </form>
</div>