<li><span class="textField">Text</span>
  <input id="textField" name="text_" type="text"/>
  <select id="selectField" name="class_">
    <option value="class1">Normal</option>
    <option value="class2">Large</option>
    <option value="class3">Italic</option>
    <option value="header">Gray</option>
  </select>
</li>