body {
    background : rgb(106, 106, 195);
    color :white;
}
.class1 {
    font-size : 2 rem; 
 }
 
 .class2 {
     font-size : 0.5 rem; 
     color: violet;
  }
 
  .class3 {
     font-size : 1 rem; 
  }