body {
    background : rgb(106, 106, 195);
    color :white;
    text-align: center;
}
.class1 {
    font-size : 2rem; 
 }
 
 .class2 {
     font-size : 0.5rem; 
     color: violet;
  }
 
  .class3 {
     font-size : 1rem; 
  }
  .header {
    font-size : 3rem;
    color : gray;
}
  img {
    border-radius : 10%;
    width: 40%;
 }