:root {
  --main-font: 'Muli', sans-serif;
}

html {
  width: 100%;
}

body {
  text-align: center;
  margin-top: 5%;
  background-image: url('/material/bg.jpg');
  background-repeat: repeat;
  background-size: cover;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: bold;
}

#formDiv {
  width: 40%;
  height: 40%;
  float: left;
  margin-left: 200px;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(24, 28, 36);
  color: white;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  font-family: var(--main-font);
  text-align: center;
}

input:focus {
  color: black;
  background-color: #FBFFF1
}

select {
  padding: 3px 0px 3px 18px;
  background-color: rgb(24, 28, 36);
  color: white;
  font-size: 15px;
  font-family: var(--main-font);
  text-align: center;
}

select:focus {
  color: black;
  background-color: #FBFFF1
}

#submit {
  padding: 8px;
  background-color: #C9EF83;
  color: black;
  box-shadow: inset -2px -1px 6px #249E50;
}

#preview {
  padding: 8px;
  background-color: #C9EF83;
  color: black;
  box-shadow: inset -2px -1px 6px #249E50;
}

#preview:hover {
  background-color: #42396B;
  color: #FCFFFC;
}

#submit:hover {
  background-color: #42396B;
  color: #FCFFFC;
}

#addTextField {
  grid-column: 1/2;
  grid-row: 6/7;
  margin-top: 7px;
  width: 80px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  font-family: var(--main-font);
  text-align: center;
  background-color: #C9EF83;
  color: black;
}

#addTextField:hover {
  background-color: #42396B;
  color: #FCFFFC;
}

iframe {
  height: 500px;
  width: 300px;
  margin-top: 80px;
  margin-left: 60px;
  background-color: #C9EF83;
}

@media(max-width: 1000px) {
  #formDiv {
    width: 60%;
    height: 60%;
    margin: auto auto;
  }
  input {
    font-size: 12px;
  }
  #show-preview {
    height: 150px;
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
  }
}

@media(max-width: 900px) {
  #formDiv {
    width: 60%;
    height: 60%;
    margin: auto auto;
  }
  body {
    top: 5%;
  }
  input {
    font-size: 12px;
  }
  #show-preview {
    height: 150px;
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
  }
}

@media(max-width: 800px) {
  #formDiv {
    width: 70%;
    height: 70%;
    margin: auto auto;
  }
  body {
    top: 5%;
  }
  input {
    font-size: 12px;
  }
  #show-preview {
    height: 150px;
    width: 200px;
    resize: both;
    float: bottom;
    margin-left: 120px;
    margin-top: 30px;
    background-color: #C9EF83;
  }
}

@media(max-width: 600px) {
  #formDiv {
    width: 80%;
    height: 80%;
    margin: auto auto;
  }
  body {
    top: 5%;
  }
  input {
    font-size: 12px;
  }
  #show-preview {
    height: 100px;
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
    float: left;
    background-color: #C9EF83;
  }
}

@media(max-width: 400px) {
  #formDiv {
    width: 90%;
    height: 90%;
    margin: auto auto;
  }
  input {
    font-size: 12px;
  }
  #show-preview {
    height: 120px;
    width: 200px;
    margin-left: 50px;
    margin-top: 30px;
    float: left;
    background-color: #C9EF83;
  }
}

/* COOOOOPPPY */

.navbar {
	padding: 1rem 0;
	background: rgba(0,0,0, .25);
}
.lead {
	margin-bottom: 2.5rem;
}
.main {
	color: rgb(44, 55, 155);
	min-height: calc(100vh - 34px);
}
.foot {
	font-size: .85rem;
	padding: .5rem 0;
	color: rgba(100, 87, 87, 0.6);
}

/* Modifier Styles */

.nav-items .nav-link {
	margin: 0 1rem;
}
.navbar-brand {
	margin: 0;
}
.navbar .nav-link,
.navbar .btn {
	text-transform: uppercase;
	font-size: .95rem;
}
.list-group {
	color: initial;
}
.label {
	font-size: .88rem;
	vertical-align: top;
	margin: 3px 0 0 4px;
}

/* Button Styles */

.btn-primary {
	background: #417aba;
	border-color: #417aba;
}
.btn-info {
	background-color: #31b0d5;
	border-color: #2aabd2;
}
.btn-info:hover {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.btn-light {
	color: rgba(255,255,255, .75);
	background: rgba(255,255,255, .12);
}
.btn-light:hover {
	background: rgba(255,255,255, .2);	
}
.active,
.btn {
	transition: .4s;
}


/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
	.nav-items .nav-item {
		float: none;
	}
	.nav-items .nav-link  {
		padding: .65rem 0;
		display: block;
	}
	.nav-items {
		padding: 1rem 0;
		clear: left;
	}
	.navbar .btn {
		margin-left: 1rem;
	}
	.main {
		padding-top: 6rem;
	}
}

@media (min-width: 48em) { 
	.navbar {
		min-height: 70px;
	}
	.navbar-nav .container {
		display: -webkit-flex;
		display: flex;
	}
	.nav-items {
		margin-right: auto;
		margin-left: auto;
	}
	.main {
		padding-top: 8rem;
	}
}

