:root {
  --main-font: 'Muli', sans-serif;
}

html {
  width: 100%;
}

body {
  margin-top: 10vh;
  background-image: url('/material/bg.jpg');
  background-repeat: repeat;
  background-size: cover;
  font-family: var(--main-font);
  font-weight: bold;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
  font-family: var(--main-font);
  text-align: left;
}

input:focus {
  color: black;
  background-color: #FBFFF1
}

select {
  padding: 3px 0px 3px 18px;
  background-color: rgb(24, 28, 36);
  color: white;
  font-size: 15px;
  font-family: var(--main-font);
  text-align: center;
}

select:focus {
  color: black;
  background-color: #FBFFF1
}

iframe {
  height: 500px;
  width: 300px;
  background-color: #C9EF83;
}

.navbar {
	padding: 1rem 0;
	background: rgba(0,0,0, .25);
}
.lead {
	margin-bottom: 2.5rem;
}
.main {
	color: rgb(44, 55, 155);
	min-height: calc(100vh - 34px);
}
.foot {
	font-size: .85rem;
	padding: .5rem 0;
	color: rgba(100, 87, 87, 0.6);
}

.nav-items .nav-link {
	margin: 0 1rem;
}
.navbar-brand {
	margin: 0;
}
.navbar .nav-link,
.navbar .btn {
	text-transform: uppercase;
	font-size: .95rem;
}
.list-group {
	color: initial;
}
.label {
	font-size: .88rem;
	vertical-align: top;
	margin: 3px 0 0 4px;
}

.btn-primary {
	background: #417aba;
	border-color: #417aba;
}
.btn-info {
	background-color: #31b0d5;
	border-color: #2aabd2;
}
.btn-info:hover {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.btn-light {
	color: rgba(255,255,255, .75);
	background: rgba(255,255,255, .12);
}
.btn-light:hover {
	background: rgba(255,255,255, .2);	
}
.active,
.btn {
	transition: .4s;
}


/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
	.nav-items .nav-item {
		float: none;
	}
	.nav-items .nav-link  {
		padding: .65rem 0;
		display: block;
	}
	.nav-items {
		padding: 1rem 0;
		clear: left;
	}
	.navbar .btn {
		margin-left: 1rem;
	}
	.main {
		padding-top: 6rem;
	}
}

@media (min-width: 48em) { 
	.navbar {
		min-height: 70px;
	}
	.navbar-nav .container {
		display: -webkit-flex;
		display: flex;
	}
	.nav-items {
		margin-right: auto;
		margin-left: auto;
	}
	.main {
		padding-top: 8rem;
	}
}

