body {
  text-align: center;
  margin-top: 10%;
  background-image: url('/material/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}
