body {
  background: rgb(197, 42, 68);
  color: white;
  text-align: center;
}

.class1 {
  font-size: 2rem;
}

.class2 {
  font-size: 4rem;
  color: yellowgreen;
}

.class3 {
  font-size: 2rem;
  font-style: italic;
}

.header {
  font-size: 3.5rem;
  color: gray;
}

img {
  border-radius: 10%;
  width: 40%;
}
